
.pricing{
	margin:40px 0px;
}

.pricing .pricing-table table tbody tr{
	border-style: none !important;
  border-color: transparent;
}

.pricing .pricing-table table {
	margin-bottom: 0;
}

.pricing .pricing-table .title{
    color: #fff;
    font-size: 22px;
    /* font-weight: bold; */
}

.pricing .pricing-table .first{
    background-color: transparent !important;
    /* margin-bottom: 150px !important; */
}

.pricing .first-one{
  background: transparent !important;
  border: none;
}

.pricing .table{
	/* border-top:1px solid #ddd; */
	/* background: #111111; */
}
.pricing .table th,
.pricing .table {
	text-align: center;
}
.pricing .table th,
.pricing .table td {
	padding: 20px 10px;
	/* border:1px solid #ddd; */
	/* border: 1px solid rgba(255, 255, 255, 0.1); */
}
.pricing .table th {
	width: 18%;
	font-size: 30px;
	font-weight: 400;
	border-bottom: 0;
	background: transparent;
	color: #EBEDF3;
	text-transform: uppercase;
  box-shadow: none;
}
.pricing .table th.highlight{
	background-color: #D0B15F !important;
    border-radius: 8px 8px 0 0 ;
    color: #fff;
    font-size: 22px;
    /* font-weight: bold; */
}
.pricing .table tr:nth-child(odd){
	background: rgb(29,29,29);
background: linear-gradient(90deg, rgba(29,29,29,0) 0%, rgba(29,29,29,1) 10%, rgba(29,29,29,1) 90%, rgba(29,29,29,0) 100%);
}
.pricing .table td:first-child{
	padding-left: 20px;
	text-align: left;
	padding-top:35px;
	background: transparent;
}
.pricing tr td .ptable-title {
	font-size: 22px;
	font-weight:400;
	color: #fff;
}

.pricing .pricing-table .ptable-title{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    /* font-weight: bold; */
}

.pricing .pricing-table .bg-dark-table{
    background-color: rgba(0, 0, 0, 0.842) !important;
    color: #fff;
}

.pricing .pricing-table .rounded{
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.pricing .pricing-table .rounded-down{
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.table-icons{
  font-size: 1rem;
}

.table-icons-black{
  font-size: 1rem;
  color: #000;
}

.table-hide{
  display: table;
}

.table-show{
  display: none;
}

@media screen and (max-width: 992px){
  .table-hide{
    display: none;
  }

  .table-show{
    display: table-header-group;
  }

  .pricing .table th,
  .pricing .table td {
    padding: 10px 10px;
  }
}


/* _________________________________+++________________________________ */

/*=============== LAYOUT ===============*/
/* .container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
} */

/*=============== ACCORDION ===============*/
.accordion {
  display: grid;
  align-content: center;
}

.accordion__container {
  display: grid;
  row-gap: .75rem;
  padding: 2rem 1rem;
  background-color: var(--container-color);
  border-radius: .5rem;
  box-shadow: 0 12px 32px rgba(51, 51, 51, 0.1);
}

.accordion__title {
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: 400;
  margin-top: .15rem;
  transition: .2s;
}

.accordion__header {
  display: flex;
  column-gap: .5rem;
  padding: 1.25rem 1.25rem 1.25rem 1rem;
  cursor: pointer;
}

.accordion__description {
  padding: 0 1.25rem 1.25rem 3rem;
  font-size: var(--smaller-font-size);
}

.accordion__icon {
  font-size: 1.5rem;
  height: max-content;
  color: var(--title-color);
  transition: .3s;
}

.accordion__item {
  box-shadow: 0 2px 6px rgba(38, 38, 38, 0.1);
  background-color: var(--container-color);
  border-radius: .25rem;
  position: relative;
  transition: all .25s ease;
}

.accordion__item button{
    border: none;
    display: flex;
    align-items: center;
  }

.accordion__item::after {
  content: '';
  background-color: var(--first-color);
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: .25rem 0 0 .25rem;
}

.accordion__item:nth-child(1) {
  background-color: #fff7f0;
}

.accordion__item:nth-child(1)::after {
  background-color: #ffc08a;
}

.accordion__item:nth-child(2) {
  background-color: #f0f0ff;
}

.accordion__item:nth-child(2)::after {
  background-color: #8a8aff;
}

.accordion__item:nth-child(3) {
  background-color: #fff0f3;
}

.accordion__item:nth-child(3)::after {
  background-color: #ff8aa1;
}

.accordion__item:nth-child(4) {
  background-color: #f0faff;
}

.accordion__item:nth-child(4)::after {
  background-color: #8ad8ff;
}

.accordion__content {
  overflow: hidden;
  height: 0px;
  transition: all .25s ease;
}

.accordion__content .visible{
    height: 120px;
    transition: all .25s ease;
  }

.accordion-open .accordion__icon {
  transform: rotate(45deg);
}

.accordion-open .accordion__title {
  font-weight: 600;
}

@media screen and (min-width: 576px) {
  .accordion__container {
    width: 550px;
    padding: 2.5rem;
    justify-self: center;
    border-radius: .75rem;
  }
  .accordion__header {
    padding: 1.5rem;
  }
  .accordion__title {
    padding-right: 3.5rem;
  }
  .accordion__description {
    padding: 0 4rem 1.25rem 3.5rem;
  }

  
}

@media screen and (max-width: 768px){
    .pricing .pricing-table .title{
      color: #fff;
      font-size: 16px;
      /* font-weight: bold; */
    }

    .pricing .table th.highlight{
      background-color: #D0B15F !important;
        border-radius: 8px 8px 0 0 ;
        color: #fff;
        font-size: 16px;
        /* font-weight: bold; */
    }

}

@media screen and (max-width: 576px){
    .pricing .pricing-table .title{
      color: #fff;
      font-size: 14px;
      /* font-weight: bold; */
  }

  .pricing .table th.highlight{
    background-color: #D0B15F !important;
      border-radius: 8px 8px 0 0 ;
      color: #fff;
      font-size: 14px;
      /* font-weight: bold; */
  }
}

@media screen and (min-width: 968px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .pricing .table th.highlight{
    background-color: #D0B15F !important;
      border-radius: 8px 8px 0 0 ;
      color: #fff;
      font-size: 18px;
      /* font-weight: bold; */
    }

    .pricing .pricing-table .title{
      color: #fff;
      font-size: 18px;
      /* font-weight: bold; */
    }
}


.pricing-table .pricing-table i{
  font-size: 1.5rem;
}





/* background: rgb(29,29,29);
background: linear-gradient(90deg, rgba(29,29,29,0) 0%, rgba(29,29,29,1) 10%, rgba(29,29,29,1) 90%, rgba(29,29,29,0) 100%); */